@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}

.fade-in {
  animation: fadeIn 0.7s ease forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.scale-up {
  animation: scaleUp 0.3s ease forwards;
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.hover-effect:hover {
  animation: hoverEffect 0.3s ease forwards;
}